@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.Timeline{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12% 2rem;
    color: white;
}
.timeline-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header i{
    font-size: 4rem;
}

.content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border: 3px solid rgb(110, 110, 110);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.4s ease;
    cursor: pointer;
}

.date{
    font-size: 1.7rem;
    color: rgb(0, 255, 255);
    font-weight: 700;
}

.content-box::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(0, 255, 255);
    border-radius: 50%;
    left: -50px;
    top: 90px;
}
.content-box:hover{
    box-shadow: 0 0 25px rgb(0, 255, 255);
    border: 3px solid rgb(0, 255, 255);
}

.timeline-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 5px solid rgb(0, 255, 255);
}

.content-box h3{
    font-size: 1.7rem;
    color: rgb(0, 255, 255);
    font-weight: 700;
}


.container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content:center;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:green;
    animation:showRight 1s ease forwards;
    animation-delay: .2s;
}

.navbar a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color:green;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content:left;
    align-items:center;
}


.Home {
    height: 100vh;
    background-size:cover;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 6rem;
}

.Contact {
    height: 100vh;
   /* background: url('Profile.png') no-repeat ;*/
    background-size:cover;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.Services {
    height: 100vh;
   /* background: url('Profile.png') no-repeat ;*/
    background-size:cover;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.About {
    height: 100vh;
    background-size:cover;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-around;
}

span {
    color:red;
}

.home-content {
    max-width: 2000px;
    color: white;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: green;
    animation:showRight 1s ease forwards;
    animation-delay: .2s;
}


.home-content h2 {
    font-size: 30px;
    font-weight: 500;
    color: #0004f0;
}

.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;

}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    animation:showRight 1s ease forwards;
    animation-delay: .2s;
}

.btn-box a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #0038f0;
    border: 2px solid darkblue;
    border-radius: 8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}


.btn-box1 a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background: #0038f0;
    border: 2.2px solid darkblue;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}


.btn-box a:nth-child(2){
    background: transparent;
    color: white;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:darkblue;
    z-index: -1;
    transition: .3s;
}

.btn-box1 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:darkblue;
    z-index: -1;
    transition: .3s;
}

.btn-box a:hover:before {
    width: 100%;
}

.btn-box1 a:hover:before {
    width: 100%;
}

.btn-box a:hover {
    color: #00abf0;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:  2px solid darkblue;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#1800f0;
    z-index: -1;
    transition: .3s;
}

.home-sci a:hover::before {
    width: 100%;
}


/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

.About img{
    height: auto;
    width: 430px;
    
}

.Services .home-content h1{
    text-align: center;
    margin-top: 150px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.card{
    margin: 15px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top:10px;
    box-shadow: 0 14px 28px white;
    transition: .4s;
}

.card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

h5{
    font-size: 20px;
}

.pra p{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: auto;
}

.button{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background: #0038f0;
    border: 3px solid darkblue;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.button:hover {
    background-color: transparent;
}

.Contact p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 15px;
    width: 600px;
    text-align: center;
    line-height: 20px;
}


.end{
    position: absolute;
    top: 100px;
    color: red;
}

.home-sci1 {
    position: absolute;
    bottom: 100px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci1 a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:  2px solid darkblue;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.home-sci1 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:red;
    z-index: -1;
    transition: .3s;
}

.home-sci1 a:hover::before {
    width: 100%;
}


.contact-form h1{
    font-size: 80px;
    margin-bottom: 15px;
}

.contact-form p{
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1rem;
    margin-bottom: 3.2rem;
}

.contact-form form{
    position: relative;
}

.contact-form form input,form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    border-radius: 5px;
}

.contact-form textarea{
    resize: none;
    height: 150px;
}

.contact-form form .btn{
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}