@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #00abf0;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    animation:showRight 1s ease forwards;
    animation-delay: .2s;
}

.navbar a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: darkblue;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content:left;
    align-items:center;
}


.Home {
    height: 100vh;
   /* background: url('Profile.png') no-repeat ;*/
    background-size:cover;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.About {
    height: 100vh;
    background-size:cover;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    animation:showRight 1s ease forwards;
    animation-delay: .2s;
}


.home-content h2 {
    font-size: 30px;
    font-weight: 500;
    color: #0004f0;
}

.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;

}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    animation:showRight 1s ease forwards;
    animation-delay: .2s;
}

.btn-box a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #0038f0;
    border: 2px solid darkblue;
    border-radius: 8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}


.btn-box a:nth-child(2){
    background: transparent;
    color: white;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:darkblue;
    z-index: -1;
    transition: .3s;
}

.btn-box a:hover:before {
    width: 100%;
}

.btn-box a:hover {
    color: #00abf0;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:  2px solid darkblue;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#1800f0;
    z-index: -1;
    transition: .3s;
}

.home-sci a:hover::before {
    width: 100%;
}


/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}